.cloudMuvingContainer {
    pointer-events: none;
    user-select: none;
    position: relative;
    top: -30px;
    z-index: 6;
    overflow: hidden;
    width: 100%;
}

.pictureOfCloud1 {
    top: 50px;
    width: 100px;
    height: 100px;

    animation: cloud1 50s infinite linear;
}

@keyframes cloud1 {
    from {
        transform: translate3d(-130px, 0, 0)
    }

    to {
        transform: translate3d(1900px, 0, 0)
    }
}

.pictureOfCloud2 {
    top: 100px;
    width: 100px;
    height: 100px;

    animation: cloud2 100s infinite linear;
}

@keyframes cloud2 {
    from {
        transform: translate3d(-200px, 0, 0)
    }

    to {
        transform: translate3d(1900px, 0, 0)
    }
}

.pictureOfCloud3 {
    top: 100px;
    width: 100px;
    height: 100px;

    animation: cloud3 100s infinite linear;
    animation-direction: reverse;
}

@keyframes cloud3 {
    from {
        transform: translate3d(-210px, 0, 0)
    }

    to {
        transform: translate3d(1900px, 0, 0)
    }
}

.pictureOfCloud4 {
    top: 100px;
    width: 100px;
    height: 100px;

    animation: cloud4 150s infinite linear;
    animation-direction: reverse;
}

@keyframes cloud4 {
    from {
        transform: translate3d(-210px, 0, 0)
    }

    to {
        transform: translate3d(1900px, 0, 0)
    }
}