.cloudMuvingContainer {
    pointer-events: none;
    user-select: none;
    position: relative;
    top: -30px;
    z-index: 5;
    overflow: hidden;
}

.pictureOfCloud1 {
    object-fit: cover;
    width: 100px;
    height: 90px;
    pointer-events: none;

    animation-name: cloud-move;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate(-1920px);
}

/* .pictureOfCloud2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;

    animation-name: cloud-move;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate(-240px);
}

.pictureOfCloud3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;

    animation-name: cloud-move;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate(-240px);
}

.pictureOfCloud4 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;

    animation-name: cloud-move;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate(-240px);
}

.pictureOfCloud5 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;

    animation-name: cloud-move;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate(-240px);
} */



@keyframes cloud-move {
    0% {
        transform: translate(-150px);
    }

    100% {
        transform: translate(1920px);
    }
}