.buyHouse {
    position: absolute;
    width: 170px;
    height: 50px;
    left: 37px;
    top: 14px;
    font-size: 20px;
    line-height: 50px;

    border: 0;
    background: #FFB11A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    z-index: 5;
    user-select: none;
}

.buyHouse:hover {
    background: #c88807;
}

.buyHouse:active {
    transform: scale(0.96);
}

.lot {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    margin-bottom: 15px;
    border-radius: 20px;
    user-select: none;
}

.pictureOfHouse {
    margin-right: 0;
    position: relative;
    top: -150%;
    left: 85%;
    width: 100px;
    height: 100px;
}

.pictureOfHouse img {
    height: 100%;
    width: auto;
}

.lotName {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 200px;
    font-size: 19px;
    line-height: 20px;
    top: 35%;
    left: 5%;
}

.lotSubscription {
    width: 250px;
    font-size: 19px;
    position: relative;
    top: -40%;
    left: 35%;
}

.lotButtons {
    display: flex;
    flex-direction: row;
    user-select: none;
    margin-bottom: 15px;

}

.buyLot {
    height: 50px;
    width: 313.5px;
    background-color: green;
    border-radius: 20px;
    margin: 0 10px 0 10px;
}

.upgradeLot {
    height: 50px;
    width: 313.5px;
    background-color: rgb(156, 38, 38);
    border-radius: 20px;
    margin: 0 10px 0 10px;
}

.buyLot:hover {
    background-color: rgb(12, 105, 12);
}

.upgradeLot:hover {
    background-color: rgb(118, 23, 23);
}

.upgradeLot:active {
    transform: scale(0.96);
}

.buyLot:active {
    transform: scale(0.96);
}

.lotButtonsText {
    line-height: 20px;
    font-size: 19px;
    position: relative;
    top: 25%;
    left: 37%;
    color: aliceblue;
    display: inline-block;
}