body {
    background-color: #69C9FF;
}

.grassOne {
    position: absolute;
    width: 1920px;
    height: 118px;
    left: 0px;
    top: 795px;

    background: #30682F;
}

.grassTwo {
    background: #1F4E17;
    position: absolute;
    width: 1920px;
    height: 57px;
    left: 0px;
    top: 795px;
}

.road {
    position: absolute;
    width: 1920px;
    height: 220px;
    left: 0px;
    top: 575px;

    background: #3A3636;
}

.grassThree {
    position: absolute;
    width: 1920px;
    height: 57px;
    left: 0px;
    top: 520px;

    background: #30682F;
}

.backgroundLandscape {
    position: absolute;
    width: 1280px;
    height: 425px;
    left: 33%;
    top: 95px;
}

.stripe {
    position: absolute;
    width: 342px;
    height: 20px;
    left: 10px;
    top: 675px;

    background: #D9D9D9;
}

.stripe2 {
    position: absolute;
    width: 342px;
    height: 20px;
    left: 500px;
    top: 675px;

    background: #D9D9D9;
}

.stripe3 {
    position: absolute;
    width: 342px;
    height: 20px;
    left: 1000px;
    top: 675px;

    background: #D9D9D9;
}

.stripe4 {
    position: absolute;
    width: 342px;
    height: 20px;
    left: 1500px;
    top: 675px;

    background: #D9D9D9;
}