.topNavBar {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: #317638;
    z-index: 5;
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0, .25);
}

.buyHouse {
    position: absolute;
    width: 170px;
    height: 50px;
    left: 37px;
    top: 14px;
    font-size: 20px;
    line-height: 50px;

    border: 0;
    background: #FFB11A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.buyHouse:active {
    max-width: 169px;
    max-height: 49px;
}



.scoreBoard {
    position: absolute;
    width: 215px;
    height: 50px;
    left: 731px;
    top: 14px;
    line-height: 50px;
    padding-left: 15px;
    font-size: 20px;

    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.counter {
    position: absolute;
    width: 215px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    font-size: 20px;
    left: 1050px;
    top: 14px;

    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}